#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 500px;
  overflow: auto;
}

#space {
	height: 20px;
}

body {
	background-color: lightblue;
}

div {
	background-color: white;
}

#header {
	margin-left: 10px;
}